{% extends 'body.html.twig' %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h3 class="mb-3">My Rentals</h3>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Date created</th>
            <th>Date modified</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if rentals|default %}
            {% for rental in rentals %}
                <tr>
                    <td class="align-middle">{{ rental.car.name }}</td>
                    <td class="align-middle">{{ rental.status|capitalize }}</td>
                    <td class="align-middle">{{ rental.dateCreated|date }}</td>
                    <td class="align-middle">{{ rental.dateModified|date }}</td>
                    <td class="align-middle"><a href="{{ path('app_rental_rental', {id: rental.id}) }}">View</a> </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No rentals found</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}