<h1>{{ title }}</h1>

<h4>{{ 'Factuur van '~name~',' }}</h4>

<h6>{{ 'Factuurnummer: '~id }}</h6>

<table>
	<thead>
		<tr>
			<td>Naam</td>
			<td>Startdatum</td>
			<td>Einddatum</td>
			<td>Prijs</td>	
		</tr>
	<thead>
	<tbody>
		<tr>
			<td>{{carName}}</td>
			<td>{{startDate}}</td>
			<td>{{endDate}}</td>
			<td>{{price}}</td>	
		</tr>
	</tbody>
</table>

			